/* General rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 5%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* ClearFix */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Header and navigator rules */
header {
    margin-top: 10px;
    /* Debug */
    /* height: 100px;
    background-color: rgb(229, 121, 230); */
}

.logo img {
    width: 150px;
    height: auto;
    border-right: solid 1px lightgray;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    padding-right: 5px;
}

nav ul li a {
    color: gray;
    text-decoration: none;
}

/* Big banner top rules */
.container-top {
    margin: 25px 0;
    position: relative;
    /* Debug */
    /* height: 400px;
    background-color: rgb(225, 214, 122); */
}

.container-top img {
    width: 100%;
    height: 600px; 
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.banner-text {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: 80px 50px;
}

.container-top .banner-text h1 {
    font-weight: lighter;
}

/* Header row */
.row-title {
    margin: 10px 0;
    /* Debug */
    /* height: 70px;
    background-color: rgb(171, 207, 231); */
}
.row-title p {
    color: gray;
}


.row {
    padding: 10px 0;
    color: gray;
    /* Debug */
    /* border: solid 1px red; */
    /* background-color: rgb(0, 134, 255); */
    
}

/* Columns rules */
.column-sx {
    width: 20%;
    float: left;
    /* Debug */
    /* height: 500px;
    background-color: rgb(171, 207, 231); */
}   

.column-sx img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
    margin-bottom: 10px; 
} 



.column-center {
    width: 56%;
    float: left;
    margin: 0 2%;
    /* Debug */
    /* height: 500px;
    background-color: rgb(171, 207, 231); */
}

.column-center img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
    margin-bottom: 10px;
} 

.column-dx {
    width: 20%;
    float: left;
    /* Debug */
    /* height: 500px;
    background-color: rgb(171, 207, 231); */
}

.column-dx img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
    margin-bottom: 10px;
}

/* Footer rules */
footer {
    margin: 30px 0;
    /* Debug */
    /* height: 50px;
    background-color: rgb(136, 1, 254); */
}

.foot-credit {
    text-align: center;
    margin-top: 10px;
}

.foot-credit h3 {
    font-weight: lighter;
}

.foot-credit .heart {
    color: red;
    font-size: 20px;
}
